@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome todo:: enter default user name</h1>
    <form>
        <input type="text" name="name" placeholder="Enter your  name" />
        <input type="number" name="age" placeholder="Age" />
        <input type="tel" name="phone" placeholder="phone" />


    </form>
</div>
